In [3]:
import pandas as pd

# CSV 파일 로드
p_result = pd.read_csv("/mnt/W-PANCDR/src/logs/full_CV_PANCDR/GDSC_results.csv")
w_result = pd.read_csv("/mnt/W-PANCDR/src/logs/full_CV_WANCDR/GDSC_results.csv")
# 'Best_params' 기준으로 groupby 후, 'Test_AUC' 평균 계산
p_grouped = p_result.groupby('Best_params')['Test_AUC'].mean()
w_grouped = w_result.groupby('Best_params')['Test_AUC'].mean()
# 평균 Test_AUC가 높은 상위 5개의 Best_params 선택
p_top_5 = p_grouped.sort_values(ascending=False).head(5)
w_top_5 = w_grouped.sort_values(ascending=False).head(5)
p_top_5.to_csv("/mnt/W-PANCDR/src/logs/full_CV_PANCDR/top_5_results.csv")
w_top_5.to_csv("/mnt/W-PANCDR/src/logs/full_CV_WANCDR/top_5_results.csv")
# 결과 출력
print(p_top_5)
print(w_top_5)

Best_params
{'nz': 100, 'd_dim': 256, 'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.01, 'batch_size': [128, 14]}    0.804502
{'nz': 256, 'd_dim': 256, 'lr': 0.0001, 'lr_adv': 0.001, 'lam': 0.1, 'batch_size': [128, 14]}      0.802544
{'nz': 128, 'd_dim': 256, 'lr': 0.0001, 'lr_adv': 0.001, 'lam': 1, 'batch_size': [128, 14]}        0.802317
{'nz': 100, 'd_dim': 256, 'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.1, 'batch_size': [256, 28]}     0.802222
{'nz': 128, 'd_dim': 100, 'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.01, 'batch_size': [128, 14]}    0.801734
Name: Test_AUC, dtype: float64
Best_params
{'nz': 128, 'd_dim': 100, 'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.0001, 'batch_size': [128, 14]}    0.832946
{'nz': 128, 'd_dim': 128, 'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.0001, 'batch_size': [128, 14]}    0.831610
{'nz': 100, 'd_dim': 256, 'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.0001, 'batch_size': [128, 14]}    0.831136
{'nz': 100, 'd_dim': 256, 'lr': 0.001, 'lr_adv': 0.001, 'lam': 0.0001, 'batch_size': [256, 28]}      0.831023
{'nz': 256, 'd_dim': 128, 'lr': 0.001, 'lr_adv': 0.0001, 'lam': 0.0001, 'batch_size': [256, 28]}     0.830692
Name: Test_AUC, dtype: float64

In [7]:
import pandas as pd

w_result = pd.read_csv('WANCDR_TCGA_100train_results.csv')
w_result.drop(columns=['Iteration']).describe()

        Accuracy        AUC         F1     Recall  Precision
count  90.000000  90.000000  90.000000  90.000000  90.000000
mean    0.628445   0.653319   0.579614   0.550292   0.649678
std     0.031944   0.042748   0.076172   0.149963   0.052511
min     0.542042   0.522940   0.280872   0.179567   0.515254
25%     0.609610   0.626423   0.525528   0.434211   0.617908
50%     0.633634   0.658784   0.590638   0.537152   0.657726
75%     0.653153   0.685183   0.630602   0.660991   0.684698
max     0.692192   0.733069   0.693767   0.941176   0.775194

In [6]:
import pandas as pd

p_result = pd.read_csv('ANCDR_TCGA_100train_results.csv')
p_result.drop(columns=['Iteration']).describe()

        Accuracy        AUC         F1     Recall  Precision
count  63.000000  63.000000  63.000000  63.000000  63.000000
mean    0.655632   0.688876   0.633826   0.629859   0.654885
std     0.024280   0.035507   0.060196   0.118606   0.032557
min     0.588589   0.563928   0.422658   0.300310   0.552916
25%     0.645646   0.670716   0.601471   0.549536   0.631396
50%     0.654655   0.696901   0.649390   0.634675   0.659942
75%     0.675676   0.713415   0.676980   0.727554   0.677154
max     0.695195   0.741111   0.715447   0.826625   0.726115

In [64]:
import pandas as pd 

w_result = pd.read_csv('/mnt/W-PANCDR/src/logs/WANCDR/CDRTCGA/W_distance/results.csv')
w_result[['Test AUC', 'Train AUC', 'Val AUC']].describe()

         Test AUC   Train AUC     Val AUC
count  100.000000  100.000000  100.000000
mean     0.677831    0.758567    0.765901
std      0.035453    0.011379    0.010899
min      0.532580    0.733960    0.742421
25%      0.660332    0.751730    0.759796
50%      0.680735    0.756173    0.764522
75%      0.701067    0.762456    0.769752
max      0.754615    0.796971    0.793864

In [5]:
import pandas as pd 

w_result = pd.read_csv('/mnt/W-PANCDR/src/logs/WANCDR/CDRTCGA/W_distance/results.csv')
w_result[['Test AUC', 'Train AUC', 'Val AUC']].describe()

         Test AUC   Train AUC     Val AUC
count  100.000000  100.000000  100.000000
mean     0.677831    0.758567    0.765901
std      0.035453    0.011379    0.010899
min      0.532580    0.733960    0.742421
25%      0.660332    0.751730    0.759796
50%      0.680735    0.756173    0.764522
75%      0.701067    0.762456    0.769752
max      0.754615    0.796971    0.793864

# 현재 실험

In [12]:
import pandas as pd 

w_result = pd.read_csv('/mnt/W-PANCDR/src/logs/WANCDR/5FoldCV/W_distance/results.csv')
w_result.groupby(['lr','lr_adv','lam', 'nz','d_dim'])[['Test AUC', 'Train AUC', 'Val AUC','Val W_distance']].mean()
# w_result[['Test AUC', 'Train AUC', 'Val AUC']].describe()

                                 Test AUC  Train AUC   Val AUC  Val W_distance
lr      lr_adv lam    nz  d_dim
0.00001 0.0001 0.0001 256 256    0.653779   0.767160  0.759664        1.989428
               0.0010 128 256    0.611271   0.708018  0.714376        0.763590
0.00010 0.0001 0.0001 100 100    0.567444   0.678531  0.718045        0.617562

In [11]:
import pandas as pd 

w_result = pd.read_csv('/mnt/W-PANCDR/src/logs/WANCDR_5Critic/5FoldCV/W_distance/results.csv')
w_result.groupby(['lr','lr_adv','lam', 'nz','d_dim'])[['Test AUC', 'Train AUC', 'Val AUC','Val W_distance']].mean()

                                   Test AUC  Train AUC   Val AUC  \
lr      lr_adv   lam    nz  d_dim
0.00001 0.000002 0.0010 100 100    0.460966   0.499746  0.530506
                        256 100    0.474154   0.504798  0.525533
                            256    0.509168   0.500645  0.507641
        0.000020 0.0001 256 128    0.529001   0.496726  0.504720
0.00010 0.000002 0.0001 128 128    0.440280   0.501182  0.582513
                 0.0010 256 128    0.442401   0.497850  0.586208
                            256    0.437453   0.497278  0.591470
        0.000020 0.0001 100 100    0.436660   0.500101  0.589222
                            256    0.442332   0.511035  0.630795
                 0.0010 100 100    0.469729   0.556750  0.654784
                            256    0.453307   0.498226  0.582560

                                   Val W_distance
lr      lr_adv   lam    nz  d_dim
0.00001 0.000002 0.0010 100 100         -0.016945
                        256 100         -0.003375
                            256         -0.000184
        0.000020 0.0001 256 128          0.162531
0.00010 0.000002 0.0001 128 128          0.086583
                 0.0010 256 128          0.053310
                            256          0.062599
        0.000020 0.0001 100 100          0.171827
                            256          0.721609
                 0.0010 100 100          0.525397
                            256          0.181417

In [ ]:
'lr': 0.0001, 'lr_adv': 0.0001, 'lam': 0.0001